body {
    background: #e7eaf6;
  }
  .card-text {
    color: #38598b;
    
  }
  .card-body {
    background: #a2a8d3;
    color: #113f67;
  }
  #entire-card {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
 