body {
    background: #e7eaf6;
  }
  .card-text {
    color: #38598b;
    
  }
  .card-body {
    background: #a2a8d3;
    color: #113f67;
  }
  .card h-100 {
    display: block;
    text-align: center;
  }
  .temps {
    text-align: center;
  }