body {
    background: #e7eaf6;
  }
  .card-text {
    color: #38598b;
    
  }
  .card-body {
    background: #a2a8d3;
    color: #113f67;
  }
  #entire-card {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  #location-name {
    font-size:42px

  }

 #description {
   text-transform: capitalize;
 }
 .units .active {
   color: black;
   cursor: default;
   text-decoration: none;
 }
 .units .active:hover {
   text-decoration: underline;
 }