body {
    background: #e7eaf6;
  }
  .card-text {
    color: #38598b;
    
  }
  .card-body {
    background: #a2a8d3;
    color: #113f67;
  }
  #entire-card {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  #location-name {
    font-size:42px

  }

 #description {
   text-transform: capitalize;
 }
 .units .active {
   color: black;
   cursor: default;
   text-decoration: none;
 }
 .units .active:hover {
   text-decoration: underline;
 }
 li {
   list-style: none;
 }
 .weather-forcast-date {
   font-size: 16px;
   opacitty: 0.5;
 }
 .weather-forcast-temp {
   font-size: 13px;
 }
 .day-one-temp-min {
   opacity: 0.5;
 }